<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sundaykart POM Automation Suite">

	<listeners>
		<listener class-name="com.alt.sundaykart.automation.listeners.ScreenShotListener"></listener>
		<listener class-name="com.alt.sundaykart.automation.listeners.RetryListener"></listener>
	</listeners>
     
	<test name="Sundaykart Test">
	<parameter name="browser" value="firefox"></parameter>
    	<classes>
			<class name="com.alt.sundaykart.automation.testcases.HomePageTestCases"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
